.projects-container {
  container-type: inline-size;
  container-name: projects;

  .projects-grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    gap: 16px;
    padding: 16px;
  }
}

@container projects (max-width: 1000px) {
  .projects-container {
    .projects-grid {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

@container projects (max-width: 500px) {
  .projects-container {
    .projects-grid {
      grid-template-columns: 1fr;
    }
  }
}
