.output-container {
  overflow-y: auto;
  overflow-x: hidden;
  height: calc(100% - 40px);
}

.resizable-panel {
  position: relative;
}

.resize-handle {
  position: absolute;
  left: -5px;
  top: 0;
  bottom: 0;
  width: 5px;
  cursor: ew-resize;
  background-color: transparent;
}
