.soft-skills-container {
  scroll-snap-type: y mandatory;
}

.skill-container {
  container-type: inline-size;
  container-name: output;
  height: 80vh;
  scroll-snap-align: center;
  display: flex;
  justify-content: center;
  align-items: center;

  div {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    min-height: 500px;
  }
}

@container output (max-width: 500px) {
  .skill-container {
    img {
      max-width: 250px;
      min-height: auto;
    }
  }
}
