@import 'tailwindcss';

:root {
  --primary-bg: #252526;
  --secondary-bg: #3f3f3f;
  --primary-fg: #fff;
  --secondary-bg-2: #2d2d2d;
  --primary-dark-bg: #1e1e1e;
  --dark-bg: #303031;
  --dark-bg2: #313030;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  font-family: Roboto, serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400;
  margin: 0;
  overflow: clip;
}

.token .function {
  cursor: pointer !important;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 20px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--dark-bg2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-dark-bg);
    border-radius: 100vh;
    border: 3px solid var(--primary-bg);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-bg);
  }
}
