@import 'tailwindcss';

:root {
  --primary-bg: #252526;
  --secondary-bg: #3f3f3f;
  --primary-fg: #fff;
  --secondary-bg-2: #2d2d2d;
  --primary-dark-bg: #1e1e1e;
  --dark-bg: #303031;
  --dark-bg2: #313030;
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-fg);
  font-family: Roboto, serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  font-weight: 400;
  margin: 0;
  overflow: clip;
}

.token .function {
  cursor: pointer !important;
}
@keyframes glow {
  0% {
    text-shadow:
      0 0 2px rgba(179, 179, 179, 0.514),
      0 0 4px rgba(179, 179, 179, 0.514),
      0 0 6px rgba(179, 179, 179, 0.514),
      0 0 8px rgba(179, 179, 179, 0.514),
      0 0 10px rgba(179, 179, 179, 0.514),
      0 0 12px rgba(179, 179, 179, 0.514),
      0 0 14px rgba(179, 179, 179, 0.514),
      0 0 16px rgba(179, 179, 179, 0.514);
  }
  50% {
    text-shadow:
      0 0 4px rgba(179, 179, 179, 0.514),
      0 0 8px rgba(179, 179, 179, 0.514),
      0 0 12px rgba(179, 179, 179, 0.514),
      0 0 16px rgba(179, 179, 179, 0.514),
      0 0 20px rgba(179, 179, 179, 0.514),
      0 0 24px rgba(179, 179, 179, 0.514),
      0 0 28px rgba(179, 179, 179, 0.514),
      0 0 32px rgba(179, 179, 179, 0.514);
  }
  100% {
    text-shadow:
      0 0 2px rgba(179, 179, 179, 0.514),
      0 0 4px rgba(179, 179, 179, 0.514),
      0 0 6px rgba(179, 179, 179, 0.514),
      0 0 8px rgba(179, 179, 179, 0.514),
      0 0 10px rgba(179, 179, 179, 0.514),
      0 0 12px rgba(179, 179, 179, 0.514),
      0 0 14px rgba(179, 179, 179, 0.514),
      0 0 16px rgba(179, 179, 179, 0.514);
  }
}

.active-method {
  text-shadow:
    0 0 2px rgba(179, 179, 179, 0.514),
    0 0 4px rgba(179, 179, 179, 0.514),
    0 0 6px rgba(179, 179, 179, 0.514),
    0 0 8px rgba(179, 179, 179, 0.514),
    0 0 10px rgba(179, 179, 179, 0.514),
    0 0 12px rgba(179, 179, 179, 0.514),
    0 0 14px rgba(179, 179, 179, 0.514),
    0 0 16px rgba(179, 179, 179, 0.514);

  animation: glow 1s infinite linear;
}

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: var(--dark-bg2);
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: var(--primary-dark-bg);
    border-radius: 100vh;
    border: 3px solid var(--primary-bg);
  }

  .scrollbar::-webkit-scrollbar-thumb:hover {
    background: var(--secondary-bg);
  }
}
